<h1>Add a new flight</h1>
<form action="/flights/new" method="post">
  <label for="flight-description">Flight description:</label>
  <input id="flight-description" name="flight-description" type="text">
  <label for="day">Day</label>
  <input type="date" name="day" id="day">
  <button type="submit">Add new flight</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/flights">View all flights</a></p>
